<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="d-flex align-items-center">
                <span>&copy; 2025 EduManage. All rights reserved.</span>
            </div>
        </div>
        <div class="col-md-6 text-md-end">
            <div class="d-flex justify-content-md-end gap-3">
                <a asp-controller="Home" asp-action="Privacy">
                    Privacy Policy
                </a>
                <a href="#" onclick="showContactInfo()">
                    Contact
                </a>
                <a href="#" onclick="showAboutInfo()">
                    About
                </a>
            </div>
        </div>
    </div>
</div>
